.grids{
  display: grid;
  gap: 1%;
  grid-template-columns: 30% 50%;
  margin-top: 5%;
  margin-left: 10%;
}
.grids>div{
    margin-top: 5%;
    border-radius: 10px;
    height: 300px;
    /* box-shadow: 10px 5px 5px white; */
    background-color:lightgrey;
}
.grids>div>img{
    width: 100%;
    height: 100%;
}
h2{
    color:black;
}
li{
    color: black;
    text-align:justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
}
.tech-stacks{
    display: grid;
    gap: 0%;
    margin-top: 2%;
    grid-template-columns: 20% 20% 20% 20%;
}
.tech-stacks>div{
    margin-left: 2%;
}
h4{
    color:black
}
.tech-stacks>div>img{
    width: 45%;
    color: blue;
}
.btn{
    margin-top: 3%;
}
.life_tech{
    color: black;
}


.grid{
    display: grid;
    gap: 2%;
    grid-template-columns:5% 5% 5%;
    margin-top: 4%;
    margin-left: 45%;
    margin-bottom: 53px;
  }
 .grid>a>div{
      margin-top: 0%;
      border-radius: 50%;
      height: 80px;
      /* box-shadow: 10px 5px 5px white; */
      background-color:lightgrey;
      
  }
 .grid>a>div>img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
  }





@media (max-width:700px){
    .grids{
        display: grid;
        gap: 1%;
        grid-template-columns:70%;
        margin-top: 5%;
        margin-left: 23%;
      }

      .grids>div{
        margin-top: 2%;
        border-radius: 5px;
        height: 350px;
        /* box-shadow: 10px 5px 5px white; */
        background-color:lightgrey;
    }
   li{
      font-size: small;
      margin-top: 5%;
      text-align:justify;
   }
   h2{
       font-size: smaller;
   }
   h4{
       font-size: small;
   }
   h1{
       margin-top: 75px;
   }
   .tech-stacks{
    display: grid;
    gap: 0%;
    margin-top: 5%;
    grid-template-columns: 25% 25% 25% 25%;
}


}

@media (min-width:701px) and (max-width:1400px){
    .grids{
        display: grid;
        gap: 4%;
        grid-template-columns:20% 40%;
        margin-top: 5%;
        margin-left: 30%;
      }

      .grids>div{
        margin-top: 2%;
        border-radius: 5px;
        height: 370px;
        /* box-shadow: 10px 5px 5px white; */
        background-color:lightgrey;
    }
   li{
      font-size: small;
      margin-top: 5%;
      text-align: center;
   }
   h2{
       font-size:large;
   }
   h4{
       font-size: smaller;
   }
   h1{
       margin-top: 75px;
   }
   .tech-stacks{
    display: grid;
    gap: 0%;
    margin-top: 5%;
    grid-template-columns: 23% 23% 23% 23%;
}
}

@media (max-width:700px){
    .grid{
        display: grid;
        gap: 5%;
        grid-template-columns:15% 15% 15%;
        margin-top: 10%;
        margin-left: 25%;
        margin-bottom: 50px;
      }
     
}
.con{
   color: black;
  
}
@media (max-width:650px){
    .con{
        font-size: smaller;
        margin-top: 5%;
    }
}
@media (max-width:1050px) and (min-width:701px){
    .grid{
        grid-template-columns:5%;
        margin-left: 35%;
    }
}


